In [2]:
import pandas as pd

df = pd.read_excel("Retail-Supply-Chain-Sales-Dataset.xlsx")
print(df.shape)
df.head(10)

(9994, 23)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Retail Sales People,Product ID,Category,Sub-Category,Product Name,Returned,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-08-11,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,Cassandra Brandow,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,Not,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-08-11,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,Cassandra Brandow,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",Not,731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-12-06,2016-12-06,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,Anna Andreadi,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,Not,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-11-10,2015-11-10,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,Cassandra Brandow,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,Not,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-11-10,2015-11-10,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,Cassandra Brandow,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,Not,22.3680,2,0.20,2.5164
5,6,CA-2014-115812,2014-09-06,2014-09-06,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,Anna Andreadi,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,Not,48.8600,7,0.00,14.1694
6,7,CA-2014-115812,2014-09-06,2014-09-06,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,Anna Andreadi,OFF-AR-10002833,Office Supplies,Art,Newell 322,Not,7.2800,4,0.00,1.9656
7,8,CA-2014-115812,2014-09-06,2014-09-06,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,Anna Andreadi,TEC-PH-10002275,Technology,Phones,Mitel 5320 IP Phone VoIP phone,Not,907.1520,6,0.20,90.7152
8,9,CA-2014-115812,2014-09-06,2014-09-06,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,Anna Andreadi,OFF-BI-10003910,Office Supplies,Binders,DXL Angle-View Binders with Locking Rings by S...,Not,18.5040,3,0.20,5.7825
9,10,CA-2014-115812,2014-09-06,2014-09-06,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,Anna Andreadi,OFF-AP-10002892,Office Supplies,Appliances,Belkin F5C206VTEL 6 Outlet Surge,Not,114.9000,5,0.00,34.4700

In [5]:
df.columns = df.columns.str.lower().str.strip().str.replace(" ","_")
df = df.rename(columns={"sub-category":"sub_category"})
df.columns

Index(['row_id', 'order_id', 'order_date', 'ship_date', 'ship_mode',
       'customer_id', 'customer_name', 'segment', 'country', 'city', 'state',
       'postal_code', 'region', 'retail_sales_people', 'product_id',
       'category', 'sub_category', 'product_name', 'returned', 'sales',
       'quantity', 'discount', 'profit'],
      dtype='object')

In [6]:
df['order_date'] = pd.to_datetime(df['order_date'])
df['ship_date'] = pd.to_datetime(df['ship_date'])

In [8]:
df['delivery_delay_days'] = (df['ship_date'] - df['order_date']).dt.days
df[['order_date','ship_date','delivery_delay_days']].head(10)

  order_date  ship_date  delivery_delay_days
0 2016-08-11 2016-11-11                   92
1 2016-08-11 2016-11-11                   92
2 2016-12-06 2016-12-06                    0
3 2015-11-10 2015-11-10                    0
4 2015-11-10 2015-11-10                    0
5 2014-09-06 2014-09-06                    0
6 2014-09-06 2014-09-06                    0
7 2014-09-06 2014-09-06                    0
8 2014-09-06 2014-09-06                    0
9 2014-09-06 2014-09-06                    0

In [10]:
df['late_delivery'] = df['delivery_delay_days'].apply(lambda x : 'Yes' if x > 7 else 'No')
df[['delivery_delay_days','late_delivery']].head(20)

    delivery_delay_days late_delivery
0                    92           Yes
1                    92           Yes
2                     0            No
3                     0            No
4                     0            No
5                     0            No
6                     0            No
7                     0            No
8                     0            No
9                     0            No
10                    0            No
11                    0            No
12                    5            No
13                  153           Yes
14                    4            No
15                    4            No
16                    7            No
17                    2            No
18                    0            No
19                    0            No

In [13]:
df = df.rename(columns={'retail_sales_people':'supplier'})

In [29]:
supplier_perf = df.groupby('supplier').agg({
    'delivery_delay_days':'mean',
    'order_id':'count',
    'sales':'sum'
}).reset_index()
supplier_perf.columns = ['supplier','avg_delivery_delay','total_orders','total_sales']
supplier_perf.head(5)

            supplier  avg_delivery_delay  total_orders  total_sales
0      Anna Andreadi           32.587886          3203  725457.8245
1  Cassandra Brandow           34.125309          1620  391721.9050
2        Chuck Magee           35.225070          2848  678781.2400
3     Kelly Williams           36.978046          2323  501239.8908

In [30]:
warehouse_load = df.groupby('region').agg({
    'quantity':'sum',
    'sales':'sum'
}).reset_index()

warehouse_load.columns = ['warehouse_region', 'total_quantity', 'total_sales']

warehouse_load.head()

  warehouse_region  total_quantity  total_sales
0          Central            8780  501239.8908
1             East           10618  678781.2400
2            South            6209  391721.9050
3             West           12266  725457.8245

In [16]:
df.to_csv("order_cleaned.csv")
supplier_perf.to_csv("supplier_performance.csv")
warehouse_load.to_csv("warehouse_load.csv")

In [20]:
from sqlalchemy import create_engine

engine = create_engine(
    "mysql+mysqlconnector://root:Ali2310%40@localhost/supply_chain_project"
)

In [21]:
conn = engine.connect()
print("Connected Successfully!")
conn.close()

Connected Successfully!

In [31]:
df.to_sql("order_cleaned", engine, if_exists="replace", index=False)
supplier_perf.to_sql("supplier_performance", engine, if_exists="replace", index=False)
warehouse_load.to_sql("warehouse_load", engine, if_exists="replace", index=False)

4